# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# Sensitive Service Accounts
serviceAccountKey.json
firebase-service-account.json
